
    <header>
        <h1 >Travel To Korea</h1>
        <h2 >Lets Your Story Begin</h2>
        <nav >
            <ul>
                <li><a href="#" class="selected">About</a></li>
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
                <li><a href="#">Link3</a></li>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        style="background-color: #FF1493;border-color: #212529;box-shadow: none">
                    LOGIN
                </button>
            </ul>
        </nav>
    </header>
     {% include 'accounts/SignUp.html' %}