{% extends 'base.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'signup' %}
        SignUp
    {% else %}
        LogIn
    {% endif %}
{% endblock %}

{% block body %}

<form action='' method='POST'>
    {% csrf_token %}

    {% if request.resolver_match.url_name == 'signup' %}
        <h2>SignUp</h2>
        {{ signup_form }}
        <input type="submit" value="submit">
    {% else %}
        <h2>LogIn</h2>
        {{ login_form }}
        <input type="submit" value="submit">
    {% endif %}
    
</form>

{% endblock %}