{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/stylesheets/style.css' %}">
{% endblock %}

{% block body %}
<span>　</span>
    <div class="container">
        <div class="label">
            내 발자취 지도!(라벨)
        </div>
        <div class="label">
            내 스크랩!(라벨)
        </div>
        <div class="maps">
            지도 영역
        </div>
        <div class="scraps">
            스크랩 영역
        </div>
        <div class="course">
            내가 저장한 코스
        </div>
    </div>
{% endblock %}

