*{
margin            :0;}
html, body{
height            :100%;
background-color  :#fff;
font-family       :'open-sans', "Helvetica Neue", helvetica, verdana, sans-serif;
-webkit-font-smoothing: antialiased;
}

header {
background-color  :#FF1493;
float             :left;
margin            :0 0 30px;
padding           :5px 0 0;
width             :100%;
}

h1 {
font-family       :'lOBSTER', sans serif;
margin            :8px 24px;
font-size         :1.75em;
font-weight       :normal;
line-height       :0.8em;
color             :white;
letter-spacing    : 1.6px;
}

h1:hover {
color             :black;
-webkit-transition: all 500ms ease-in-out;
-moz-transition   : all 500ms ease-in-out;
-ms-transition    : all 500ms ease-in-out;
}

h2{
font-family       :'Anton', sans serif;
font-style        :Regular;
font-size         :1em;
margin            :0 25px;
color             :#404049;
letter-spacing    :0px;
}

nav {
text-display       : none;
text-align         : center;
padding            : 10px 0;
margin             : 30px 0 0;
background         : #404049  ;
letter-spacing     : 1.9px;
}

nav a,
nav a:visited {
color              : #d1cbcd;
text-decoration    : none;
}

nav a.selected{
color              :#FF1493;
}

nav a:hover {
color              :#d1cbcd;
-webkit-transition : all 500ms ease-in-out;
-moz-transition    : all 500ms ease-in-out;
-ms-transition     : all 500ms ease-in-out;

}

nav li {
display            : inline-block;
}

nav a {
font-weight         : 700;
padding             : 15px 15px;
}


footer {
  background: #FF1493;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  position: fixed;
  right: 0;
  text-align: center;
}