{% extends 'base.html' %}

{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'maps/MainPage.css' %}"> {% endblock %}

<!-- body -->
{% block body %}
<div id="regions_div" style="width: 900px; height: 500px;"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
 google.charts.load('current', {
   'packages':['geochart'],
   // Note: you will need to get a mapsApiKey for your project.
   // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
   'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
 });
 google.charts.setOnLoadCallback(drawRegionsMap);
 function drawRegionsMap() {
   var data = google.visualization.arrayToDataTable([
     ['Provinces', 'Popularity'],
     ['서울', 978],
     ['경기도', 1234],
     ['부산광역시', 345],
     ['대전광역시', 155],
     ['대구광역시', 267],
     ['울산광역시', 117],
     ['인천광역시', 293],
     ['충청북도', 158],
     ['충청남도', 206],
     ['광주광역시', 150],
     ['전라북도', 187],
     ['전라남도', 190],
     ['경상북도', 270],
     ['경상남도', 345],
     ['강원도', 157],
     ['Jeju', 64],
   ]);
   var options = {
       region: 'KR',
       resolution: 'provinces',
       zoomControl:true,
       scaleControl:true,
       keepAspectRatio: false,
       colorAxis: {colors: ['#64f57c', '#f071d4', '#9c29e3']},
       backgroundColor: '#81d4fa',
       datalessRegionColor: '#f8bbd0',
       defaultColor: '#f5f5f5',
   };
   var chart = new google.visualization.GeoChart(document.getElementById('regions_div'), {zoom: 4});
   chart.draw(data, options);
 }
</script>
<style>
    body {
        height: 3000px;
    }
</style>

{% endblock %}

<!-- 단순 구글 지도 - 서울표시 -->
<!-- <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
        // The location of Uluru
        var uluru = {lat: 37.541, lng: 126.986};
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9j9p3Gotxf5EiemE3ph5DMQfr2TSPvsY&callback=initMap">
    </script>

    <style>
        #map {
        height: 400px;
        width: 500px;
        }

        body {
            height: 3000px;
        }
    </style> -->