{% extends 'base.html' %}

{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'maps/stylesheets/MainPage.css' %}"> {% endblock %}

<!-- body -->
{% block body %}
<div class="layer" id="app">
    <table >
        <colgroup>
            <col width="50%">
            <col width="50%">
        </colgroup>
        <tr>
            <td>
                <div class="checkbox">
                    <input type="checkbox" name="all" value="chk_info" id="chkAll" onclick="checkAll(all)">전체
                    <input type="checkbox" name="12" value="chk_info" v-on:click="check(12)">관광지
                    <input type="checkbox" name="14" value="chk_info" v-on:click="check(14)">문화시설
                    <input type="checkbox" name="15" value="chk_info" v-on:click="check(15)">축제/공연
                    <input type="checkbox" name="28" value="chk_info" v-on:click="check(28)">레포츠
                    <input type="checkbox" name="32" value="chk_info" v-on:click="check(32)">숙박
                    <input type="checkbox" name="38" value="chk_info" v-on:click="check(38)">쇼핑
                    <input type="checkbox" name="39" value="chk_info" v-on:click="check(39)">음식점
                </div>
            </td>
            <td rowspan="3">
                <p v-for="list in travelList">[[list]]</p>
            </td>
        </tr>
        <tr>
             <td>
              <select id="region" name="region" v-on:change="changeRegion()">
                  <option value="all">전체보기</option>
                  [[selectedlist]]
                    {% for i in value %}
                        <option value="{{i.code}}">{{i.name}}</option>
                    {%endfor%}
                </select>
                <select id="sigungu" v-on:change="changeSigungu()">
                    <option  selected disabled hidden>시군구 선택</option>
                    <option v-for="list in selectedlist" id = "listsigungu" :value="list.code">[[list.name]]</option>
                </select>
             </td>
        </tr>
        <tr>
            <td>
                <img src="{% static 'maps/img/earth.gif' %}">
            </td>
        </tr>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
            selectedlist:[],
            travelList:[],
            checked:false,
            areacode:'',
            sigungucode:'',
    },
    methods:{
        <!--대분류 선택시-->
        changeRegion : function(){
            var Select = document.getElementById("region");
            this.areacode=Select.value;
            let base_URL = "http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey=tG2pbhauvACu6IO20lRl4NIY5qDcRrFnl21s57G6XgwovyquyiFquhZgoE%2FBmG930wyBEyxx4pNZEyxzt8%2Brvg%3D%3D&areaCode="+Select.value+"&numOfRows=25&pageNo=1&MobileOS=AND&MobileApp=travel5&_type=json"

            axios.get(base_URL)
                .then(response => {
                    console.log(response.data.response.body.items.item)
                    item = response.data.response.body.items.item
                    item.forEach((sigungu) => {
                        this.selectedlist.push(sigungu)
                    })
                });
            this.selectedlist=[]
        },

        <!--시군구 선택시-->
        changeSigungu : function(){
            var Select = document.getElementById("sigungu");
            alert(Select.value)
            this.sigungucode=Select.value
        },
        <!--체크시 값 출력-->
         check :function(value){
            if(this.checked==false){this.checked=true}
            if (this.checked==true){
                 let base_URL = "http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaBasedList?ServiceKey=tG2pbhauvACu6IO20lRl4NIY5qDcRrFnl21s57G6XgwovyquyiFquhZgoE%2FBmG930wyBEyxx4pNZEyxzt8%2Brvg%3D%3D&contentTypeId="+value+"&areaCode="+this.areacode+"&sigunguCode="+this.sigungucode+"&cat1=&cat2=&cat3=&listYN=Y&MobileOS=ETC&MobileApp=TourAPI3.0_Guide&arrange=A&numOfRows=10&pageNo=1&_type=json"
                 axios.get(base_URL)
                 .then(response => {
                     console.log(response)
                     item = response.data.response.body.items.item

                     item.forEach((travel) => {
                         this.travelList.push(travel.title)
                     });
                     console.log(this.travelList)
                 });
            }
            else{
                this.travelList=[]
            }
         }
    },
});
Vue.config.devtools = true;
    <!--전체선택-->
      function checkAll(box){
          if( $("#chkAll").is(':checked') ){
            $("input[name=chk_info]").prop("checked", true);
          }else{
            $("input[name=chk_info]").prop("checked", false);
          }
       }

</script>

{% endblock %}