{% extends 'base.html' %}

{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'maps/stylesheets/MainPage.css' %}"> {% endblock %}

<!-- body -->
{% block body %}
<div class="layer" id="app">
    <table >
        <colgroup>
            <col width="50%">
            <col width="50%">
        </colgroup>
        <tr>
            <td>
                <div class="checkbox">
                    <input type="checkbox" name="chk_info" value="all">전체
                    <input type="checkbox" name="chk_info" value="12">관광지
                    <input type="checkbox" name="chk_info" value="14">문화시설
                    <input type="checkbox" name="chk_info" value="15">축제/공연
                    <input type="checkbox" name="chk_info" value="32">숙박
                    <input type="checkbox" name="chk_info" value="28">레포츠
                    <input type="checkbox" name="chk_info" value="38">쇼핑
                    <input type="checkbox" name="chk_info" value="39">음식점
                </div>
            </td>
            <td rowspan="3">
                여기에 관광지 정보 리스트가 뜹니다. 찡긋^^
            </td>
        </tr>
        <tr>
             <td>
              <select id="region" name="region" v-on:change="changeRegion()">
                  <option value="all">전체보기</option>
                  [[selectedlist]]
                    {% for i in value %}
                        <option value="{{i.code}}">{{i.name}}</option>
                    {%endfor%}
                </select>
                <select id="sigungu" >
                    <option  value="" selected disabled hidden>시군구 선택</option>
                    <option v-for="list in selectedlist" id = "listsigungu" value="">[[list.name]]</option>
                </select>
             </td>
        </tr>
        <tr>
            <td>지도</td>
        </tr>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
        selectedlist:[]
    },
    methods:{
        changeRegion : function(region){
            var Select = document.getElementById("region");
            let base_URL = "http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey=tG2pbhauvACu6IO20lRl4NIY5qDcRrFnl21s57G6XgwovyquyiFquhZgoE%2FBmG930wyBEyxx4pNZEyxzt8%2Brvg%3D%3D&areaCode="+Select.value+"&numOfRows=25&pageNo=1&MobileOS=AND&MobileApp=travel5&_type=json"
        axios.get(base_URL)
            .then(response => {
            console.log(response.data.response.body.items.item)
<!--                 console.log(response['data']['response']['body']['items']['item'])-->
                 this.selectedlist.push({region: response.data.response.body.items.item})
            });
            console.log(this.selectedlist)
        }
    },
});
</script>

{% endblock %}